<html xmlns:th="http://www.w3.org/1999/xhtml">
    <head>
        <title>Exemplo</title>
    </head>
    <body>

        <h1 th:text = "${sistema}"></h1>

        <table class="table">

            <thead>
            <tr>
                <th>Cliente</th>
                <th>CPF</th>
                <th>Inadimplente</th>
                <th></th>
            </tr>
            </thead>

            <tbody>
            <tr th:each = "c: ${clientes}" >
                <td>
                    <a th:href="@{/animais-listar(clientId=${c.id})}"><span th:text="${c.nome}"> </span></a>
                </td>
                <td>
                    <span th:text="${c.cpf}"> </span>
                </td>
                <td>
                    <span th:text="${c.inadimplente}"> </span>
                </td>
                <td>
                    <a th:href="@{/cliente-excluir(id=${c.id})}"> X </a>
                </td>
            </tr>
            </tbody>

        </table>
        <a href="/cliente-adicionar">Adicionar</a>


    </body>
</html>