<html xmlns:th="http://www.w3.org/1999/xhtml">
    <head>
        <title>Exemplo</title>
    </head>
    <body>

        <h1 th:text = "${sistema}"></h1>
        <br>
        <h1>Lista  de clientes</h1>

        <ul th:each = "c: ${clientes}">
            <div th:object="${c}">
                <li>
                    <a th:href="@{/animais-listar(clientId=${c.id})}"><span th:text="*{nome}"> </span></a>  :
                    <span th:text="*{cpf}"> </span> --
                    <span th:text="*{inadimplente}"> </span>
                    <a th:href="@{/cliente-excluir(id=${c.id})}"> X </a>
                </li>
            </div>
        </ul>

        <a href="/cliente-adicionar">Adicionar</a>


    </body>
</html>