<html xmlns:th="http://www.w3.org/1999/xhtml">
    <head>
        <style>
            table, th, td {
              border: 1px solid black;
              border-collapse: collapse;
            }
            th, td {
              padding: 5px;
              text-align: left;
            }
        </style>
        <title>Exemplo</title>
    </head>
    <body>

        <h1 th:text = "${sistema}"></h1>

        <table class="table">

            <thead>
            <tr>
                <th>Cliente</th>
                <th>CPF</th>
                <th>Inadimplente</th>
                <th>Excluir</th>
            </tr>
            </thead>

            <tbody>
                <tr th:each = "c: ${clientes}" >

                    <td>
                        <a th:href="@{/animais-listar(cliente=${c.id})}"><span th:text="${c.nome}"> </span></a>
                    </td>
                    <td>
                        <span th:text="${c.cpf.valor}"> </span>
                    </td>
                    <td>
                        <span th:text="${c.inadimplente}"> </span>
                    </td>
                    <td>
                        <a th:href="@{/cliente-excluir(id=${c.id})}"> X </a>
                    </td>

                </tr>
            </tbody>

        </table>

        <a href="/cliente-adicionar">Adicionar</a>


    </body>
</html>